@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "variables";

:root {
  --bs-body-font-family: "Lato", sans-serif;
  --bs-btn-font-family: "Lato", sans-serif;
  --bs-border-radius: 1rem;
}

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
);

.bg-image-top {
  background: {
    repeat: no-repeat;
    image: url("../images/background.png");
    position: 40vw -30vw;
    size: 76vw;
  }
}

.content-image {
  width: 40vw;
}

.body-sz {
  height: 100vh;
}

.title {
  font-size: 35px;
  font-weight: 600;
}

.content-text-opacity {
  font-size: 24px;
  opacity: 54%;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.info-card-title {
  font-size: 24px;
  font-weight: 500;
}

.info-card-text-18 {
  font-size: 18px;
}

.info-card-text-16 {
  font-size: 16px;
}

.icon-card {
  color: $primary-color;
  height: 5rem;
  width: 5rem;
}

.number-card-info {
  color: $primary-color;
  font-weight: 700;
  font-size: 2.5rem;
}

.text-card-sub {
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: -0.8rem !important;
}

.card-hospital-width {
  width: 300px;
}

.card-hospital-height {
  height: 300px;
}

.content-text {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}

.img-card-campaign {
  height: 38vh !important;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.bold-card-title {
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.age-card-campaign {
  font-weight: 300;
  opacity: 70%;
}

.blood-type-card-campaign {
  font-weight: 800;
  color: $primary-color;
}

.card-gradient {
  border-radius: 24px;
  border: 0px solid #bf573d;
  background: linear-gradient(118deg, $primary-color 6.86%, #bf5447 103.41%);
}

.title-white {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}

.text-white {
  font-weight: 400;
  font-size: 20px;
}

.button-white {
  color: #bf573d !important;
  background-color: white !important;
  border-color: white !important;
  padding: 0.5rem 4rem !important;
}

.img-card-hospital {
  width: 18vw;
  height: 22vh;
  object-fit: cover;
  border-radius: 20px;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-fluid-85 {
  max-width: 85%;
  height: auto;
}

.img-fluid-45 {
  max-width: 50%;
  height: auto;
}

.arrow-carrousel-black {
  color: #000 !important;
}

.steps {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  justify-content: center !important;
  .step {
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}

.step {
  &:first-of-type {
    .step-circle::before {
      display: none;
    }
  }

  &:last-of-type {
    .step-content {
      padding-right: 0;
    }
  }
}

.step-content {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: $step-content-padding-top;
  padding-right: $step-gutter;
}

.step-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $step-circle-size;
  height: $step-circle-size;
  color: $step-default-circle-color;
  border: $step-circle-border-width solid $step-default-circle-border-color;
  border-radius: 100%;
  background-color: $step-default-circle-bg-color;
}

.step-text {
  color: $step-default-text-color;
  margin-top: 0.25em;
  white-space: nowrap;
  text-overflow: clip;
}

.step-active {
  .step-circle {
    color: $step-active-circle-color;
    background-color: $step-active-circle-bg-color;
    border-color: $step-active-circle-border-color;
    &::before {
      color: $step-active-circle-border-color;
    }
  }
  .step-text {
    color: $step-active-text-color;
  }
}

.step-error {
  .step-circle {
    color: $step-error-circle-color;
    background-color: $step-error-circle-bg-color;
    border-color: $step-error-circle-border-color;
    &::before {
      color: $step-error-circle-border-color;
    }
  }
  .step-text {
    color: $step-error-text-color;
  }
}

.step-success {
  .step-circle {
    color: $step-success-circle-color;
    background-color: $step-success-circle-bg-color;
    border-color: $step-success-circle-border-color;
    &::before {
      color: $step-success-circle-border-color;
    }
  }
  .step-text {
    color: $step-success-text-color;
  }
}

.navbar-brand {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.dropdown-item:hover,
.dropdown-item:focus {
  border-radius: 1.4rem !important;
}

.forget-password {
  color: $gray-800;
  font-size: 14px !important;
  padding-left: calc(var(--bs-gutter-x) * 0.2);
}

.terms-link {
  color: $gray-800;
  font-size: 14px !important;
}

.alert-success {
  color: $success-color !important;
  background-color: rgba($success-color, 0.2) !important;
  border-color: rgba($success-color, 0.1) !important;
  border-radius: 0.5rem !important;
}

.points-text {
  font-size: 12px;
  font-weight: 400;
}

@import "/node_modules/bootstrap//scss//bootstrap";
